<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- DB접속정보 값을 가지고 있는 파일 설정 -->
	<properties resource="properties/db.properties" />
	<!-- 별명 부여 -->
	<typeAliases>
		<typeAlias type="servlet.mberVo" alias="mberVo" />
	</typeAliases>
	<!-- DB접속 정보 셋팅 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${pwd}" />
			</dataSource>
		</environment>
	</environments>
	<!-- mapper.xml 파일 설정 -->
	<mappers>
		<mapper resource="mybatis/mber-mapper.xml" />
	</mappers>
</configuration>
